NODE_ENV=development
NODE_OPTIONS="--experimental-loader=@opentelemetry/instrumentation/hook.mjs --import ./src/telemetry.ts --trace-deprecation"
OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4317
BASE_URL=http://localhost:3001
