NODE_ENV=development
OTEL_EXPORTER_OTLP_ENDPOINT=http://collector:4317
APP_BASE_URL=http://localhost:3001
SWAGGER_UI_OIDC_DISCOVERY_URL=http://localhost:8002/realms/amsterdam-mail-service/.well-known/openid-configuration
OIDC_ISSUER=http://localhost:8002/realms/amsterdam-mail-service
OIDC_AUDIENCE=amsterdam-mail-service
OIDC_ALGORITHMS=RS256,RS384,RS512
OIDC_DISCOVERY_URL=http://keycloak:8002/realms/amsterdam-mail-service/.well-known/openid-configuration
OIDC_CLIENT_ID=amsterdam-mail-service
